<footer class="footer text-center text-sm-left">
    &copy; <%= (new Date()).getFullYear() %> <%= app_name %> <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by <%= team %></span>
</footer>