<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="<%= title %>" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="<%= base_url_template %>/assets/images/favicon.ico">

        <% include style.ejs %>
    </head>
